In [81]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import re

In [3]:
engine = create_engine("sqlite:///C:/Users/mai_a/Downloads/baby_names.db")

In [5]:
all_tables = engine.table_names()
all_tables

['turnstile_170902', 'turnstile_171007', 'wifi']

In [6]:
wifi_data = pd.read_sql('SELECT * FROM wifi;', engine)
wifi_data

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)"
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)"
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)"
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)"
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)"
5,96 St,96 St Q,Q,No,Manhattan,New York County,40.784267,-73.947114,No,No,No,No,No,"(40.784267, -73.947114)"
6,Lexington Ave,Lexington Av-53 St E/51 St 6,E,No,Manhattan,New York County,40.757552,-73.969055,No,No,Yes,No,No,"(40.757552, -73.969055)"
7,46th St,46 St MR,MR,No,Queens,Queens County,40.756312,-73.913333,No,Yes,Yes,Yes,Yes,"(40.756312, -73.913333)"
8,High St,High St AC,AC,No,Brooklyn,Kings County,40.699337,-73.990531,No,No,No,No,No,"(40.699337, -73.990531)"
9,Grand St.,Grand St BD,BD,No,Manhattan,New York County,40.718267,-73.993753,No,No,Yes,No,No,"(40.718267, -73.993753)"
10,86th St,86 St 456,456,Yes,Manhattan,New York County,40.779492,-73.955589,No,Yes,Yes,Yes,Yes,"(40.779492, -73.955589)"
11,145th St,145 St 1,1,No,Manhattan,New York County,40.826551,-73.950360,No,Yes,Yes,Yes,Yes,"(40.826551, -73.95036)"
12,Bedford Ave,Bedford Av L,L,No,Brooklyn,Kings County,40.717304,-73.956872,No,No,Yes,No,No,"(40.717304, -73.956872)"
13,Steinway St,Steinway St MR,MR,No,Queens,Queens County,40.756879,-73.920740,No,Yes,Yes,Yes,Yes,"(40.756879, -73.92074)"
14,Bedford/Nostrand,Bedford-Nostrand Avs G,G,No,Brooklyn,Kings County,40.689627,-73.953522,No,No,No,No,No,"(40.689627, -73.953522)"
15,145th St,145 St 3,23,Yes,Manhattan,New York County,40.820421,-73.936245,No,Yes,Yes,Yes,Yes,"(40.820421, -73.936245)"
16,Fulton St,Fulton St G,G,No,Brooklyn,Kings County,40.687119,-73.975375,No,No,No,No,No,"(40.687119, -73.975375)"
17,116th St,116 St 6,6,No,Manhattan,New York County,40.798629,-73.941617,No,Yes,Yes,Yes,Yes,"(40.798629, -73.941617)"
18,Fulton St,Fulton St JMZ2345/Bway-Nassau St AC,23,No,Manhattan,New York County,40.709416,-74.006571,No,Yes,Yes,Yes,Yes,"(40.709416, -74.006571)"
19,Dekalb Ave,DeKalb Av BMQR,BMQR,No,Brooklyn,Kings County,40.690635,-73.981824,No,No,No,No,No,"(40.690635, -73.981824)"
20,Queens Plaza,Queens Plaza EMR,EMR,No,Queens,Queens County,40.748973,-73.937243,No,Yes,Yes,Yes,Yes,"(40.748973, -73.937243)"
21,Jay St-Boro Hall / PBX2,Jay St-Borough Hall ACF,ACF,No,Brooklyn,Kings County,40.692338,-73.987342,No,No,No,No,No,"(40.692338, -73.987342)"
22,Hunts Point Avenue,Hunts Point Av 6,6,No,Bronx,Bronx County,40.820948,-73.890549,No,Yes,Yes,Yes,Yes,"(40.820948, -73.890549)"
23,Rector St,Rector St 1,1,No,Manhattan,New York County,40.707513,-74.013783,No,No,Yes,No,No,"(40.707513, -74.013783)"
24,Ralph Ave,Ralph Av C,AC,No,Brooklyn,Kings County,40.678822,-73.920786,No,No,No,No,No,"(40.678822, -73.920786)"
25,110th St,Cathedral Pkwy-110 St 1,1,Yes,Manhattan,New York County,40.803967,-73.966847,No,Yes,Yes,Yes,Yes,"(40.803967, -73.966847)"
26,50th St,50 St 1,1,No,Manhattan,New York County,40.761728,-73.983849,No,Yes,Yes,Yes,Yes,"(40.761728, -73.983849)"
27,191st St,191 St 1,1,No,Manhattan,New York County,40.855225,-73.929412,No,Yes,Yes,Yes,Yes,"(40.855225, -73.929412)"
28,138th St,138 St-Grand Concourse 45,4,No,Bronx,Bronx County,40.813224,-73.929849,No,Yes,Yes,Yes,Yes,"(40.813224, -73.929849)"
29,President St,President St 25,25,No,Brooklyn,Kings County,40.667883,-73.950683,No,No,No,No,No,"(40.667883, -73.950683)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,Nevins,Nevins St 2345,2345,No,Brooklyn,Kings County,40.688246,-73.980492,No,No,No,No,No,"(40.688246, -73.980492)"
254,103rd St,103 St 6,6,No,Manhattan,New York County,40.790600,-73.947478,No,Yes,Yes,Yes,Yes,"(40.7906, -73.947478)"
255,36th St,36 St DMNR,DMNR,No,Brooklyn,Kings County,40.655144,-74.003549,No,No,No,No,No,"(40.655144, -74.003549)"
256,Dyckman St,Dyckman St A,A,No,Manhattan,New York County,40.865491,-73.927271,No,Yes,Yes,Yes,Yes,"(40.865491, -73.927271)"
257,125th St,125 St ABCD,ABCD,No,Manhattan,New York County,40.811109,-73.952343,No,Yes,Yes,Yes,Yes,"(40.811109, -73.952343)"
258,21st St,21 St-Queensbridge F,F,No,Queens,Queens County,40.754203,-73.942836,No,Yes,Yes,Yes,Yes,"(40.754203, -73.942836)"
259,Brook Avenue,Brook Av 6,6,No,Bronx,Bronx County,40.807566,-73.919240,No,Yes,Yes,Yes,Yes,"(40.807566, -73.91924)"
260,Bowling Green,Bowling Green 45,45,Yes,Manhattan,New York County,40.704817,-74.014065,No,No,No,No,No,"(40.704817, -74.014065)"
261,5th Ave,5 Av-59 St NRW,NR,No,Manhattan,New York County,40.764811,-73.973347,No,Yes,Yes,Yes,Yes,"(40.764811, -73.973347)"
262,Spring St,Spring St 6,6,No,Manhattan,New York County,40.722301,-73.997141,No,No,Yes,No,No,"(40.722301, -73.997141)"
263,34th St,34 St-Herald Square BDFMNQR,NQR,No,Manhattan,New York County,40.749567,-73.987950,No,Yes,Yes,Yes,Yes,"(40.749567, -73.98795)"
264,Clinton &. Washindton,Clinton-Washington Avs C,AC,No,Brooklyn,Kings County,40.683263,-73.965838,No,No,No,No,No,"(40.683263, -73.965838)"
265,34th St,34 St-Penn Station ACE,ACE,No,Manhattan,New York County,40.752287,-73.993391,No,No,No,No,No,"(40.752287, -73.993391)"
266,25th St,25 St MR,MR,No,Brooklyn,Kings County,40.660397,-73.998091,No,No,No,No,No,"(40.660397, -73.998091)"
267,110th St/Central Park N,Central Park North-110 St 23,23,No,Manhattan,New York County,40.799075,-73.951822,No,Yes,Yes,Yes,Yes,"(40.799075, -73.951822)"
268,110thSt,Cathedral Pkwy-110 St BC,BC,No,Manhattan,New York County,40.800605,-73.958159,No,Yes,Yes,Yes,Yes,"(40.800605, -73.958159)"
269,Chambers St,Chambers St JMZ/Bklyn Bridge-City Hall 456,JMZ,Yes,Manhattan,New York County,40.713243,-74.003401,No,No,Yes,No,No,"(40.713243, -74.003401)"
270,World Trade Center,World Trade Center,E,No,Manhattan,New York County,40.712582,-74.009781,No,No,Yes,No,No,"(40.712582, -74.009781)"
271,161st St,161 St-Yankee Stadium BD4,BD,No,Bronx,Bronx County,40.827905,-73.925651,No,Yes,Yes,Yes,Yes,"(40.827905, -73.925651)"
272,Sutphin Blvd,Sutphin Blvd F,F,No,Queens,Queens County,40.705460,-73.810708,No,Yes,Yes,Yes,Yes,"(40.70546, -73.810708)"
273,Liberty Ave,Liberty Av C,AC,No,Brooklyn,Kings County,40.674542,-73.896548,No,No,No,No,No,"(40.674542, -73.896548)"
274,Bergen St,Bergen St 23,23,No,Brooklyn,Kings County,40.680829,-73.975098,No,No,No,No,No,"(40.680829, -73.975098)"
275,Bay Ridge Ave,Bay Ridge Av R,R,No,Brooklyn,Kings County,40.634967,-74.023377,No,No,No,No,No,"(40.634967, -74.023377)"
276,155th St,155 St BD,BD,No,Manhattan,New York County,40.830135,-73.938209,No,Yes,Yes,Yes,Yes,"(40.830135, -73.938209)"
277,Sterling St,Sterling St 25,25,No,Brooklyn,Kings County,40.662742,-73.950850,No,No,No,No,No,"(40.662742, -73.95085)"
278,157th St,157 St 1,1,No,Manhattan,New York County,40.834041,-73.944890,No,Yes,Yes,Yes,Yes,"(40.834041, -73.94489)"
279,14 St,6 Av & 14 St 123FML,123,No,Manhattan,New York County,40.737826,-74.000201,No,Yes,Yes,Yes,Yes,"(40.737826, -74.000201)"
280,168th St-Broadway,168 St-Washington Heights AC1,1,Yes,Manhattan,New York County,40.840556,-73.940133,No,No,No,No,No,"(40.840556, -73.940133)"
281,Bergen St,Bergen St FG,FG,No,Brooklyn,Kings County,40.686145,-73.990862,No,No,No,No,No,"(40.686145, -73.990862)"
282,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,7,Yes,Manhattan,New York County,40.755477,-73.987691,No,Yes,Yes,Yes,Yes,"(40.755477, -73.987691)"

In [91]:
wifi_data['Letters'] = wifi_data['StationName'].str.extract('([A-Z]\w{0,})', expand=True)

In [93]:
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped,Split
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",St,174th,174,"[174th, St]"
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",St,207th,207,"[207th, St]"
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",St,72nd,72,"[72nd, St]"
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",Cypress,NaN,NaN,"[Cypress, Avenue]"
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",Times,NaN,NaN,"[Times, Square]"

In [136]:
#name = wifi_data['StationName'][0].split(' ')[0]
#st = ''
#for car in name:
#    if car>.isn

In [137]:
#wifi_data['Split'] = wifi_data['StationName'].re.search('[A-Z]+[a-z]+$')

In [155]:
wifi_data['StationName'].str.extract('([A-Z]\w{0,})', expand=True)

             0
0           St
1           St
2           St
3      Cypress
4        Times
5           St
6    Lexington
7           St
8         High
9        Grand
10          St
11          St
12     Bedford
13    Steinway
14     Bedford
15          St
16      Fulton
17          St
18      Fulton
19      Dekalb
20      Queens
21         Jay
22       Hunts
23      Rector
24       Ralph
25          St
26          St
27          St
28          St
29   President
..         ...
253     Nevins
254         St
255         St
256    Dyckman
257         St
258         St
259      Brook
260    Bowling
261        Ave
262     Spring
263         St
264    Clinton
265         St
266         St
267         St
268         St
269   Chambers
270      World
271         St
272    Sutphin
273    Liberty
274     Bergen
275        Bay
276         St
277   Sterling
278         St
279         St
280         St
281     Bergen
282      Times

[283 rows x 1 columns]

In [104]:
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped,Split
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",th St,174th,174,"[174th, St]"
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",th St,207th,207,"[207th, St]"
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",nd St,72nd,72,"[72nd, St]"
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",Cypress Avenue,NaN,NaN,"[Cypress, Avenue]"
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",Times Square,NaN,NaN,"[Times, Square]"

In [103]:
wifi_data['Letters'] = wifi_data['StationName'].str.extract('([A-Za-z ]+[a-zA-Z ])', expand=False).str.strip()

In [157]:
wifi_data['StationName'].str.extract('([A-Za-z ]+[a-zA-Z ])', expand=False).str.strip()

0                   th St
1                   th St
2                   nd St
3          Cypress Avenue
4            Times Square
5                      St
6           Lexington Ave
7                   th St
8                 High St
9                Grand St
10                  th St
11                  th St
12            Bedford Ave
13            Steinway St
14                Bedford
15                  th St
16              Fulton St
17                  th St
18              Fulton St
19             Dekalb Ave
20           Queens Plaza
21                 Jay St
22     Hunts Point Avenue
23              Rector St
24              Ralph Ave
25                  th St
26                  th St
27                  st St
28                  th St
29           President St
              ...
253                Nevins
254                 rd St
255                 th St
256            Dyckman St
257                 th St
258                 st St
259          Brook Avenue
260         Bowling Green
261                th Ave
262             Spring St
263                 th St
264               Clinton
265                 th St
266                 th St
267                 th St
268                  thSt
269           Chambers St
270    World Trade Center
271                 st St
272          Sutphin Blvd
273           Liberty Ave
274             Bergen St
275         Bay Ridge Ave
276                 th St
277           Sterling St
278                 th St
279                    St
280                 th St
281             Bergen St
282          Times Square
Name: StationName, Length: 283, dtype: object

In [11]:
wifi_data['Numbers'] = wifi_data['StationName'].str.extract('([0-9]\w{0,})', expand=True)

In [108]:
wifi_data['Letters'] = wifi_data['Letters'].replace({'nd ':''}, regex=True)

In [109]:
wifi_data['Letters'] = wifi_data['Letters'].replace({'th ':''}, regex=True)

In [111]:
wifi_data['Letters'] = wifi_data['Letters'].replace({'st ':''}, regex=True)

In [114]:
wifi_data['Letters'] = wifi_data['Letters'].replace({'rd ':''}, regex=True)

In [115]:
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped,Split
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",St,174th,174,"[174th, St]"
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",St,207th,207,"[207th, St]"
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",St,72nd,72,"[72nd, St]"
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",Cypress Avenue,NaN,NaN,"[Cypress, Avenue]"
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",Times Square,NaN,NaN,"[Times, Square]"

In [116]:
wifi_data.Letters.value_counts()

St                    102
Ave                    12
Canal St                6
Times Square            4
Fulton St               4
GraCentral              3
Lexington Ave           3
Broadway                3
Chambers St             3
Rector St               2
Parsons Blvd            2
Atlantic Ave            2
Borough Hall            2
NostraAve               2
Franklin Ave            2
Sutphin Blvd            2
Clinton                 2
Av                      2
Wall St                 2
CortlaSt                2
Utica Ave               2
East                    2
GraSt                   2
Church Ave              2
Spring St               2
Union Square            2
Dekalb Ave              2
Bergen St               2
Hoyt                    1
Roosevelt Ave           1
                     ...
Jamaica                 1
Metropolitan Ave        1
Halsey St               1
Winthrop St             1
High St                 1
Hunts Point Avenue      1
Van Siclen Ave          1
GraAve                  1
Bowery                  1
SouFerry                1
Court St                1
Cypress Avenue          1
BedfoAve                1
ElmhurAve               1
Woodhaven Blvd          1
Morgan Ave              1
Myrtle                  1
Montrose Ave            1
President St            1
St Rock Ctr             1
thSt                    1
Nevins                  1
EaBroadway              1
Newkirk Ave             1
S                       1
Flushing Ave            1
Houston St              1
Broadwav                1
Essex St                1
Carroll St              1
Name: Letters, Length: 132, dtype: int64

In [14]:
wifi_data['Numbers_stripped'] = wifi_data['Numbers'].str.replace(r'\D', '')

In [25]:
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",th St,174th,174
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",th St,207th,207
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",nd St,72nd,72
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",Cypress Avenue,NaN,NaN
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",Times Square,NaN,NaN

In [117]:
wifi_data['Letters'] = wifi_data['Letters'].str.lower()
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped,Split
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",st,174th,174,"[174th, St]"
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",st,207th,207,"[207th, St]"
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",st,72nd,72,"[72nd, St]"
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",cypress avenue,NaN,NaN,"[Cypress, Avenue]"
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",times square,NaN,NaN,"[Times, Square]"

In [118]:
wifi_data['StationCom'] = wifi_data['Numbers'] + wifi_data['Letters']

In [130]:
wifi_data['Newjoin'] = wifi_data['Numbers_stripped']+ ' ' + wifi_data['Letters']

In [131]:
wifi_data['Newjoin'] = wifi_data['Newjoin'].fillna(wifi_data['Letters'])

In [132]:
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped,Split,StationCom,Newjoin
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",st,174th,174,"[174th, St]",174thst,174 st
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",st,207th,207,"[207th, St]",207thst,207 st
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",st,72nd,72,"[72nd, St]",72ndst,72 st
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",cypress avenue,NaN,NaN,"[Cypress, Avenue]",NaN,cypress avenue
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",times square,NaN,NaN,"[Times, Square]",NaN,times square

In [135]:
#wifi_data['Newjoin'] = wifi_data['Newjoin'] + ' ' + wifi_data['Lines']

In [133]:
wifi_data.head()

,StationName,StationComplex,Lines,Historical,Borough,County,Latitude,Longitude,WiFiAvailable,AT&T,Sprint,T-Mobile,Verizon,Location,Letters,Numbers,Numbers_stripped,Split,StationCom,Newjoin
0,174th St,174-175 Sts BD,BD,No,Bronx,Bronx County,40.845900,-73.910136,No,Yes,Yes,Yes,Yes,"(40.8459, -73.910136)",st,174th,174,"[174th, St]",174thst,174 st
1,207th St,Inwood-207 St A,A,No,Manhattan,New York County,40.868072,-73.919899,No,Yes,Yes,Yes,Yes,"(40.868072, -73.919899)",st,207th,207,"[207th, St]",207thst,207 st
2,72nd St,72 St 123,123,Yes,Manhattan,New York County,40.778453,-73.981970,No,Yes,Yes,Yes,Yes,"(40.778453, -73.98197)",st,72nd,72,"[72nd, St]",72ndst,72 st
3,Cypress Avenue,Cypress Av 6,6,No,Bronx,Bronx County,40.805368,-73.914042,No,Yes,Yes,Yes,Yes,"(40.805368, -73.914042)",cypress avenue,NaN,NaN,"[Cypress, Avenue]",NaN,cypress avenue
4,Times Square,Times Sq-42 St NQRSW1237/42 St ACE,123,Yes,Manhattan,New York County,40.755290,-73.987495,No,Yes,Yes,Yes,Yes,"(40.75529, -73.987495)",times square,NaN,NaN,"[Times, Square]",NaN,times square

In [134]:
wifi_data.to_csv("wifi_data_withoutlines.csv")

In [139]:
turnstile_data = pd.read_sql('SELECT * FROM turnstile_170902;', engine)
turnstile_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,00:00:00,REGULAR,6303202,2133729
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,04:00:00,REGULAR,6303225,2133730
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,08:00:00,REGULAR,6303237,2133753
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,12:00:00,REGULAR,6303309,2133830
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,16:00:00,REGULAR,6303508,2133882

In [144]:
turnstile_data['Lower_Station'] = turnstile_data['STATION'].str.lower()
#turnstile_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Lower_Station
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,00:00:00,REGULAR,6303202,2133729,59 st
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,04:00:00,REGULAR,6303225,2133730,59 st
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,08:00:00,REGULAR,6303237,2133753,59 st
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,12:00:00,REGULAR,6303309,2133830,59 st
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,16:00:00,REGULAR,6303508,2133882,59 st

In [145]:
turnstile_data.to_csv("turnstile_data_withoutlines.csv")

In [148]:
turnstile_data['Lower_Lines'] = turnstile_data['LINENAME'].str.lower()
turnstile_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Lower_Station,StationWLines,Lower_Lines
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,00:00:00,REGULAR,6303202,2133729,59 st,nqr456w,nqr456w
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,04:00:00,REGULAR,6303225,2133730,59 st,nqr456w,nqr456w
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,08:00:00,REGULAR,6303237,2133753,59 st,nqr456w,nqr456w
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,12:00:00,REGULAR,6303309,2133830,59 st,nqr456w,nqr456w
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,16:00:00,REGULAR,6303508,2133882,59 st,nqr456w,nqr456w

In [149]:
turnstile_data['Newjoin'] = turnstile_data['Lower_Station'] + ' ' + turnstile_data['Lower_Lines']
turnstile_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,Lower_Station,StationWLines,Lower_Lines,Newjoin
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,00:00:00,REGULAR,6303202,2133729,59 st,nqr456w,nqr456w,59 st nqr456w
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,04:00:00,REGULAR,6303225,2133730,59 st,nqr456w,nqr456w,59 st nqr456w
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,08:00:00,REGULAR,6303237,2133753,59 st,nqr456w,nqr456w,59 st nqr456w
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,12:00:00,REGULAR,6303309,2133830,59 st,nqr456w,nqr456w,59 st nqr456w
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/26/2017,16:00:00,REGULAR,6303508,2133882,59 st,nqr456w,nqr456w,59 st nqr456w

In [151]:
turnstile_data.to_csv("turnstile_data.csv")